* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #fbf8f4;
    color: #1a120a;
    /* background-color: #0b0804; */
    /* color: #f5ede5; */
    /* light bg color: #fbf8f4; */
    /* light text color: #1a120a; */
    /* primary: #bb8344; */
    /* secondary: #22525e; */
    /* accent: #3c318c; */
}

header {
    border-bottom: 2px solid #1a120a;
}

.menu {
    padding: 2rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.menu li  {
    text-transform: uppercase;

    font-weight: 700;
}

.foto_perfil {
    max-height: 5rem;
    border-radius: 20%;
}

.status {
    font-size: 12px;
}

.finalizado {
    color: green
}

.cursando {
    color: lightblue;
}
