* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

header {
    background-color: darkgray;
}

.menu {
    padding: 2rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.menu li  {
    text-transform: uppercase;
    color: blueviolet;
    font-weight: 700;
}

.foto_perfil {
    max-height: 5rem;
    border-radius: 20%;
}

.status {
    font-size: 12px;
}

.finalizado {
    color: green
}

.cursando {
    color: lightblue;
}
